<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>WebMarket1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
	<security-role>
		<description></description >
		<role-name>admin</role-name>
	</security-role>
	<security-constraint>
		<display-name>WebMarket1 Security</display-name>
		<web-resource-collection>
			<web-resource-name>WebMarket1</web-resource-name>
			<description></description>
			<url-pattern>/user.jsp</url-pattern>
			<url-pattern>/addProduct.jsp</url-pattern>
			<url-pattern>/updateProductForm.jsp</url-pattern>
			<url-pattern>/processRemoveProduct.jsp</url-pattern>
			<url-pattern>/products_get.jsp</url-pattern>
			<url-pattern>/welcomeAdmin.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>권한 관리자명</description>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>mvc.controller.Controller</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- 
	<servlet>
		<servlet-name>BoardController</servlet-name>
		<servlet-class>mvc.controller.BoardController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BoardController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	 -->
	<!-- <servlet>
		<servlet-name>ProductController</servlet-name>
		<servlet-class>mvc.controller.ProductController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping> -->
	
</web-app>
